<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar>
    <ion-title>
      Lista de dispositivos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
  <ion-row class="header-row">
    <ion-col class="header-col">Id</ion-col>
    <ion-col class="header-col">Nombre</ion-col>
    <ion-col class="header-col">Ubicacion</ion-col>
    <ion-col class="header-col">Estado</ion-col>
  </ion-row>
  <div *ngIf="devicesAndValues">
    <ion-row *ngFor="let device of devicesAndValues" routerLink="/dispositivo/{{ device.dispositivoId }}" hover-clickable-color>
      <ion-col>{{ device.dispositivoId }}</ion-col>
      <ion-col>{{ device.nombre }}</ion-col>
      <ion-col>{{ device.ubicacion }}</ion-col>
      <ion-col>
        <span [ngStyle]="stateBackgroundColor(device.valor)" class="medicion-state">
          {{ device.valor | med2State }}
        </span>
      </ion-col>
    </ion-row>
  </div>
  </ion-grid>

</ion-content>