<ion-header [translucent]="true" class="custom-header">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/"></ion-back-button>
		</ion-buttons>
		<ion-title>Dispositivo {{ deviceId }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="container">
		<div class="centered">
			<div class="item" style="width: 50%;">
				<app-device-sensor-details-chart [deviceId]="deviceId" class="small"></app-device-sensor-details-chart>
			</div>
			<div class="item" style="width: 50%;">
				<app-electrovalve-manager [electrovalveId]="electrovalveId" class="small"></app-electrovalve-manager>
			</div>
		</div>
		<div class="centered">
			<ion-button routerLink="/devices/{{ deviceId }}/measurements" class="medium-width">Ver todas las mediciones</ion-button>
		</div>
		<div class="centered">
			<ion-button routerLink="/electrovalves/{{ deviceId }}/registers" class="medium-width">Registros de riego</ion-button>
		</div>
	</div>
</ion-content>