<ion-grid>
	<ion-row class="header-row">
		<ion-col class="header-col">ID</ion-col>
		<ion-col class="header-col">Fecha</ion-col>
		<ion-col class="header-col">Valor</ion-col>
		<ion-col class="header-col">Estado</ion-col>
	</ion-row>
	<div *ngIf="sensorData">
		<ion-row *ngFor="let data of sensorData">
			<ion-col>{{ data.medicionId }}</ion-col>
			<ion-col>{{ data.fecha | dateFormat }}</ion-col>
			<ion-col>{{ data.valor }}</ion-col>
			<ion-col>
				<span [ngStyle]="stateBackgroundColor(data.valor)" class="medi-state">
					{{ data.valor | med2State }}
				</span>
			</ion-col>
		</ion-row>
	</div>
</ion-grid>