<div class="container">

	<div class="centered">
		<div class="centered centered-img">
			<img [src]="getElectrovalveImageSource()" alt="electrovalve-image" style="width: 15%; height: auto;">
		</div>
		<div class="centered centered-img" *ngIf="electrovalveOpen">
			<img [src]="getElectrovalveDropImageSource()" alt="electrovalve-drops" style="width: 15%; height: auto;">
		</div>
	</div>

	<div class="centered">

		<app-electrovalve-display-status-box [opened]="electrovalveOpen ? 1 : 0"></app-electrovalve-display-status-box>
	</div>

	<div class="centered">
		<ion-button (click)="toggleElectrovalve()" class="ion-margin-top">
			{{ electrovalveOpen ? 'Cerrar electrovalvula' : 'Abrir electrovalvula' }}
		</ion-button>
	</div>

</div>