<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dispositivo {{ dispositivoId }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="dispositivoMediciones">
    <h2>Mediciones del Dispositivo {{ dispositivoId }}</h2>
    <ion-list>
      <ion-item *ngFor="let medicion of dispositivoMediciones">
        <ion-label>
          <h3>Medición ID: {{ medicion.medicionId }}</h3>
          <p>Fecha: {{ medicion.fecha }}</p>
          <p>Valor: {{ medicion.valor }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Valor</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let medicion of dispositivoMediciones">
        <td>{{ medicion.medicionId }}</td>
        <td>{{ medicion.fecha | dateFormat }}</td>
        <td>{{ medicion.valor }}</td>
        <td>{{ medicion.valor | med2State }}</td>
      </tr>
    </tbody>
  </table>
</ion-content>
