<ion-header [translucent]="true" class="custom-header">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/devices/{{ electrovalveId }}"></ion-back-button>
		</ion-buttons>
		<ion-title>Registro de riegos de electrovalvula {{ electrovalveId }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-grid>
		<ion-row class="header-row">
			<ion-col class="header-col centered-cell">ID</ion-col>
			<ion-col class="header-col centered-cell">Fecha</ion-col>
			<ion-col class="header-col centered-cell">Estado</ion-col>
		</ion-row>
		<div *ngIf="logRegistersData">
			<ion-row *ngFor="let data of logRegistersData">
				<ion-col class="centered-cell">{{ data.logRiegoId }}</ion-col>
				<ion-col class="centered-cell">{{ data.fecha | dateFormat }}</ion-col>
				<ion-col class="centered-cell">
					<app-electrovalve-display-status-box [opened]="data.apertura"></app-electrovalve-display-status-box>
				</ion-col>
			</ion-row>
		</div>
	</ion-grid>
</ion-content>